.collectionItem {
  width: 22%;
  display: flex;
  flex-direction: column;
  height: 350px;
  align-items: center;

    
    &:hover {
        cursor: pointer;
        .content{
            opacity: 1;
            transition: 0.3s;
        }

    }
    .image {
      width: 100%;
      height: 95%;
      background-size: cover;
      background-position: center;
      margin-bottom: 5px;
      display: flex;
      justify-content: center;
      
    }

    .content {
        height: 40px;
        padding: 0 25px;
        display: flex;
        width: 70px;
        align-items: center;
        justify-content: center;
        border: 1px solid black;
        background-color: white;
        opacity: 0;
        margin-top: 250px;
        
    }
  
    .collection-footer {
      width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
  
      .name {
        width: 90%;
        margin-bottom: 15px;
      }
  
      .price {
        width: 10%;
      }
    }
  }